
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* =============================================================================
   Generic
   ========================================================================== */

.chzn-container                                     { position:relative; display:inline-block }
.chzn-container-multi                               {}
.chzn-container-active                              {}

.chzn-choices                                       { overflow:hidden; cursor:text }
.chzn-choices li                                    { float:left }
.chzn-choices .search-choice                        {}
.chzn-choices .search-choice .search-choice-close   {}

.chzn-choices .search-field                         {}
.chzn-choices .search-field input                   { border:0; outline:none }

.chzn-drop                                          { position:absolute; z-index:999 }
.chzn-drop .chzn-results                            { max-height:200px; overflow-y:auto }
.chzn-drop .chzn-results li                         {}
.chzn-drop .chzn-results .result-selected           {}
.chzn-drop .chzn-results .active-result             {}
.chzn-drop .chzn-results .highlighted               {}


/* =============================================================================
   Generic Colors etc.
   ========================================================================== */

.chzn-choices {
    padding:2px;
    padding-bottom:0;
}

.chzn-choices .search-field input {
}

.chzn-choices .search-choice {
    line-height:20px;
    padding:0 2px;
    margin:2px;
    background:#f3f3f3;
    background:linear-gradient(top,#f5f5f5,#f1f1f1);
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    box-shadow:0 1px 3px #ccc;
    border-radius:20px;
}

.chzn-choices .search-choice span {
    font-size:11px;
    font-weight:bold;
}

.chzn-choices .search-choice .search-choice-close {
    width:16px;
    height:16px;
    margin-top:3px;
    background:url(../img/chosen.png) no-repeat;
    background-position:0 -200px;
    display:inline-block;
    float:right;
}

.chzn-drop {
    background:#fff;
    box-shadow:0 1px 5px #ddd;
    min-width:280px !important;
}

.chzn-drop .chzn-results li {
    line-height:28px;
    padding:0 10px;
    background:#fff url(../img/chosen.png) no-repeat;
}

.chzn-drop .chzn-results li:hover {
    background-color:#f2f2f2;
}

.chzn-drop .chzn-results .highlighted {
    background-color:#f2f2f2;
}

.chzn-drop .chzn-results .result-selected {
    background:#fff url(../img/chosen.png) no-repeat;
}


/* =============================================================================
   Multiple Choice Fields
   ========================================================================== */

.chzn-container-multi {
    line-height:28px;
    background:#fff;
    border:1px solid #d3d3d3;
    border-radius:2px;
}

.chzn-container-multi .chzn-drop .chzn-results li {
    background-position:right -145px;
}

.chzn-container-multi .chzn-drop .chzn-results .result-selected {
    background-position:right -95px;
}


/* =============================================================================
   Single Choice Fields
   ========================================================================== */

.chzn-container-single {
    line-height:28px;
    border:1px solid #ddd;
    text-shadow:0 1px 0 #fff;
    background:#f3f3f3;
    background:linear-gradient(top,#f5f5f5,#f1f1f1);
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border-radius:2px;
}

.chzn-container-single .chzn-single {
    display:block;
    position:relative;
    outline:none;
}

.chzn-container-single .chzn-single span {
    display:block;
    padding:0 4px;
    color:#555;
}

.chzn-container-single .chzn-single div {
    position:absolute;
    top:0;
    right:0;
    height:28px;
    width:20px;
    background:url(../img/chosen.png) no-repeat;
    background-position:0 -243px;
}

.chzn-container-single .chzn-single div b {
}

.chzn-container-single .chzn-search {
    display:none;
}

.chzn-container-single .chzn-drop .chzn-results li {
    background-position:right -45px;
}

.chzn-container-single .chzn-drop .chzn-results .result-selected {
    background-position:right 5px;
}
