
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* =============================================================================
   Generic
   ========================================================================== */

.form-row                                           { margin-bottom:10px }
.form-row *                                         { color:#555; font-size:12px }
.form-row > label                                   { line-height:28px; font-weight:bold; color:#555; display:inline-block }
.form-row > input                                   { padding:6px 4px; border:1px solid #d3d3d3; border-radius:2px }
.form-row > select                                  {}
.form-row > textarea                                { border:1px solid #d3d3d3; border-radius:2px }
.form-row > div                                     {}


/* =============================================================================
   Form Types
   ========================================================================== */

.form-text-row                                      {}
