
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* =============================================================================
   Generic
   ========================================================================== */

.form-row {
    margin-bottom:10px;
}

.form-row * {
    color:#555;
    font-size:12px;
}

.form-row > label {
    float:left;
    line-height:28px;
    font-weight:bold;
    color:#555;
    display:inline-block;
    min-width:160px;
    margin-right:20px;
}

.form-row > input {
    padding:6px 4px;
    border:1px solid #d3d3d3;
    color:#777;
    border-radius:2px;
}

.form-row > select {
}

.form-row > textarea {
    border:1px solid #d3d3d3;
    border-radius:2px;
    min-height:200px;
    width:516px;
}

.form-row > div {
}

.form-row .form-description {
    clear:both;
    font-weight:bold;
    color:#999;
    margin:0;
}

.form-action-row {
    text-align:right;
}

.form-action-row input[type="submit"] {
    border:0;
    height:29px;
}


/* =============================================================================
   Form Types
   ========================================================================== */

.form-text-row                                      {}

.form-range-row                                     {}
.form-range-row > div                               { margin-top:20px }
.form-range-row input                               { background:none; border:0; width:20px; outline:none; font-weight:bold }

.form-rating-row                                    {}
.form-rating-row > div                              { background:url(../img/rating-create.png) no-repeat }
.form-rating-row > div input                        { opacity:0; position:absolute }
.form-rating-row > div label                        { width:32px; height:32px; display:inline-block; margin-right:12px; cursor:pointer; text-indent:-9999em }
.form-rating-row > div label:last-of-type           { margin-right:0 }


/* =============================================================================
   Facebox Form
   ========================================================================== */

.facebox-form                                       {}
.facebox-form .form-rows                            { display:block }
.facebox-form .form-action-row                      { margin-top:40px }
