
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.header                                 {}
.header-logo                            { height:100px }

.main                                   { margin-top:60px }
.main.two-columns                       { overflow:hidden }
.main.two-columns .column-content       { width:700px; float:left }
.main.two-columns .column-right         { width:220px; float:right }

.main.three-columns                     {}
.main.three-columns .column-content     { width:460px; float:left; margin-right:20px }
.main.three-columns .column-left        { width:220px; float:left; margin-right:20px }
.main.three-columns .column-right       { width:220px; float:right }
