
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* =============================================================================
   Button Bar
   ========================================================================== */

.button-bar {}

.button-bar ul {
    background:#f5f5f5;
    background:linear-gradient(top, #f5f5f5, #f1f1f1);
    border:1px solid #ccc;
    border-radius:2px;
    overflow:hidden;
    display:inline-block;
}

.button-bar ul:hover {
    box-shadow:0 1px 5px #ddd;
}

.button-bar ul li {
    float:left;
    border-right:1px solid #ccc;
}

.button-bar ul li:last-child {
    border-right:0;
}

.button-bar ul li a {
    font-size:11px;
    font-weight:bold;
    margin:0;
    display:inline-block;
    line-height:24px;
    color:#666;
    text-shadow:0 1px 0 #fff;
    padding:0 4px;
}

.button-bar ul li a:hover {
    background:#fefefe;
}


/* =============================================================================
   Buttons
   ========================================================================== */

.button {
    display:inline-block;
    cursor:pointer;
    border-radius:2px;
    line-height:28px;
    padding:0 10px;
    text-decoration:none;
}

.button.blue {
    color:#fff;
    text-shadow:0 -1px 0 #2e65bd;
    font-weight:bold;
    background:#4c8ffd;
    background:-webkit-linear-gradient(top,#4c8ffd,#4787ed);
    background:linear-gradient(top,#4c8ffd,#4787ed);
}

.button.light {
    color:#555;
    border:1px solid #ddd;
    text-shadow:0 1px 0 #fff;
    background:#f3f3f3;
    background:linear-gradient(top,#f5f5f5,#f1f1f1);
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.button.dark {
    color:#fff;
    text-shadow:0 -1px 0 #000;
    font-weight:bold;
    background:#555;
    background:-webkit-linear-gradient(top,#777,#555);
    background:linear-gradient(top,#777,#555);
}


/* =============================================================================
   Dropdown Button
   ========================================================================== */

.dropdown-button {
    position:relative;
    display:inline-block;
    min-width:60px;
}

.dropdown-button .field {
    line-height:28px;
    border:1px solid #ddd;
    text-shadow:0 1px 0 #fff;
    background:#f3f3f3;
    background:linear-gradient(top,#f5f5f5,#f1f1f1);
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border-radius:2px;
    cursor:pointer;
}

.dropdown-button .field .label {
    padding:0 4px;
    font-weight:bold;
}

.dropdown-button .field .icon {
    float:right;
    margin-top:5px;
}

.dropdown-button .drop {
    z-index:999;
    position:absolute;
    background:#fff;
    box-shadow:0 1px 3px #ccc;
    min-width:240px;
}

.dropdown-button .drop .description {
    line-height:28px;
    margin:10px 0;
    padding:0 10px;
    color:#999;
    font-weight:bold;
}

.dropdown-button .drop ul {
}

.dropdown-button .drop ul li {
}

.dropdown-button .drop ul li a {
    display:block;
    line-height:28px;
    padding:0 10px;
    color:#555;
    font-weight:bold;
}

.dropdown-button .drop ul li a:hover {
    background:#f2f2f2;
}

.dropdown-button .drop .dropdown-footer {
    overflow:hidden;
    padding:10px 10px;
}

.dropdown-button .drop .dropdown-footer .dropdown-footer-action {
    float:right;
}


/* =============================================================================
   Main Menu
   ========================================================================== */

.menu-main {
    background:-webkit-linear-gradient(top,#fbfbfb,#f7f7f7);
    background:linear-gradient(top, #fbfbfb,#f7f7f7);
    overflow:hidden;
    border-radius:2px;
    box-shadow:inset 0 1px 0 #fff, 0 1px 3px #ddd;
}

.menu-main ul {}

.menu-main ul li {
    float:left;
    width:120px;
}

.menu-main ul li a {
    text-transform:uppercase;
    display:block;
    text-align:center;
    line-height:40px;
    color:#666;
    font-size:12px;
    font-family:"KlavikaBold";
    text-shadow:0 1px 0 #fff;
}


/* =============================================================================
   Submenu
   ========================================================================== */

.submenu {
    margin-top:10px;
}

.submenu .actions {
    float:right;
}

.submenu .button-bar {
    float:left;
}

.submenu .button-bar ul li a {
    line-height:28px;
    padding:0 10px;
}
