
/*
 * This file is part of the gameop package.
 *
 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* =============================================================================
   Top Provider Widget
   ========================================================================== */

.top-provider-widget                    {}
.top-provider-widget > ul               { margin-top:20px }
.top-provider-widget > ul > li          { margin-bottom:4px; position:relative; background:#fff; height:46px; box-shadow:0 1px 2px #ccc; border-radius:3px }
.top-provider-widget .content           { padding:8px }
.top-provider-widget .name              { overflow:hidden; height:16px }
.top-provider-widget .review a          { color:#999; font-size:10px }
.top-provider-widget .button-bar        { position:absolute; bottom:10px; right:10px }


/* =============================================================================
   User Register Widget
   ========================================================================== */

.user-register-widget                   { margin-bottom:40px }
.user-register-widget .content          { margin-top:20px }
.user-register-widget .button           { line-height:24px }


/* =============================================================================
   Review Widget
   ========================================================================== */

.review-widget                          { margin-bottom:40px }
.review-widget .content                 { margin-top:20px }
.review-widget .button                  { line-height:24px }

/* =============================================================================
   Server Offer Compare Widget
   ========================================================================== */

.server-offer-compare-widget                                    {}
.server-offer-compare-widget .content                           { margin-top:20px }
.server-offer-compare-widget .form-row > label                  { width:240px }
.server-offer-compare-widget .form-expanded-choice-row > div    { top:28px; left:240px }
